@model List<CarWash1._0.Models.AyudaModel>
<h2>Ayuda</h2></br></br></br>

@* <table class="table table-striped">

</table> *@
<div>
    <button>Versión</button> </br></br>
    <button>Manual de usuario</button> </br></br>
    <button>Cambio de contraseña</button</br>
</div>

