@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Coco Lavacar</strong></h1>
    </br>   </br>
    <h1 class="display-4">Bienvenido</h1>
   
</div> 
